body.dark-mode {
    background-color: black;
    color: white;
}

body.dark-mode nav {
    background-color: #343a40;
    color: white;
}

body.dark-mode .navbar-brand,
body.dark-mode .navbar-nav .nav-link {
    color: white;
}

/* Agrega reglas similares para otros elementos según tus necesidades */
